<%- include('includes/head') %> 
<%- include('includes/nav') %> 

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça login ou crie sua conta abaixo</p>

      <%- include('includes/messages') %> 
      
      <div class="row">
        <div class="col-lg">
          <h4>Faça seu cadastro</h4>
          <p>Se você ainda não tem conta, preencha o formulario abaixo.</p>
          <%- include('includes/formCadastro') %> 
        </div>
        <div class="col-lg">
          <h4>Faça seu login</h4>
          <p>Se você já não tem uma conta, faça login abaixo.</p>
          <%- include('includes/formLogin') %> 
        </div>
      </div>
    
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %> 
